{% extends "layout.html" %}

{% block title %}Analysis | Duolingo Jeeves{% endblock %}

{% block head %}
  {{ super() }}
  <style>
    #chart_container {
      height: 500px;
    }
  </style>
  <script>
    WORD = '{{word}}';
    DEBUG = {{'true' if debug else 'false'}};
  </script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/chart.js')}}"></script>
{% endblock %}

{% block body %}
<section>
<h1>Analysis</h1>

<div id="chart_container"></div>

</section>
{% endblock %}
