<html>
<head>
<style>
body {font-family: sans-serif;}
table {border-collapse: collapse;}
table, td, th {border: 1px solid black;}
td {padding: 10px;}
section {margin-top: 50px;}
.category_wrapper {margin-right: 30px;}
.next {width: 200px;}
</style>
</head>
<body>
<h1>Ticket Category Annotator (in progress)</h1>

<a href="/ticket">Show list of tickets</a>

<section>
<table>
<tr>
<td>Subject</td>
<td>Android feedback - Inappropriate Ad</td>
</tr>
<tr>
<td>Description</td>
<td>
Dear DuoLingo team,\n\nI love you app and having been keeping up on my Spanish with it for months now. I understand ads are necessary to continue app development and make profit, but I recently came across a disturbing ad. The ad was for ad called Top Dolls and had a picture of a scantily clad woman. I found this ad offensive and will stop using the app if I have no way of preventing similar content from appearing on my screen. I a feel like the  did not match the mood/style of your wonderful app and would not appeal to your audience. Thank you for your consideration. \n\nMichael\n\n-------------------\nApp information:\n\nApp version code: 3.45.1 googleAllcourses\nAPI Level: 23\nOS Version: 3.10.61-8352520 (G920VVRS4CQA3)\nHost (Device): SWDD6615 (zerofltevzw)\nModel (Product): SM-G920V (zerofltevzw)\nScreen: 1440x2560, 640dpi\nConfig: Internal, 256 | 256\nUsername: Boii5\nLanguages: es<-en : en : en_US\n-------------------
</td>
</tr>
</table>
</section>

<section>
<h2>Check appropriate category for the above ticket</h2>
{% for category in categories %}
<span class="category_wrapper"><input type="checkbox"> {{category}}</span>
{% endfor %}
</section>

<section>
<button class="next">Next</button>
</section>

</body>
</html>