{% extends "layout.html" %}

{% block title %}Home | Duolingo Jeeves{% endblock %}

{% block head %}
  {{ super() }}
  <script src="/static/js/common.js?_={{random}}"></script>
  <script src="/static/js/spike.js?_={{random}}"></script>
  <script>
  $(document).ready(function() {
    renderSpikes($('#spike_wrapper'), 1);
    $.get('/api/1/info', function(data) {
      var html = `
        <ul>
          <li>
            <div class="item">Most recent ticket</div>
            <span class="description">${utcToLocal(data.latest_ticket_timestamp)}</span>
          </li>
          <li>
            <div class="item">Last deployment</div>
            <span class="description">${utcToLocal(data.deployed_timestamp)}</span>
          </li>
        </ul>`;
      $('.stats').html(html);
    });
  })
  </script>
  <style>
  .description {
    color: #999;
  }
  .item {
    font-weight: 700;
    font-size: 20px;
  }
  li {
    margin-bottom: 20px;
  }
  main.light-gray {
    background-color: #f7f7f7;
  }
  .inner-section {
    background: white;
    padding: 40px 40px 20px 60px;
    border-radius: 10px;
  }
  @media only screen and (max-width: 700px) {
    .inner-section {
      padding: 20px;
    }
  }
  .flag {
    color: #fff;
    display: inline-block;
    font-weight: 700;
    padding: 15px 50px 15px 90px;
    position: relative;
    margin: -10px -10px 40px -90px;
    height: 20px;
  }
  .flag::before {
    border-left: 30px solid transparent;
    content: " ";
    height: 0;
    left: 0;
    position: absolute;
    top: 50px;
    width: 0;
  }
  .live .flag {
    background: #1caff6;
  }
  .jeeves-stats .flag {
    background: #ff9d00;
  }
  .coming-soon .flag {
    background: #9b5fca;
  }
  .live .flag::before {
    border-top: 30px solid #0883be;
  }
  .jeeves-stats .flag::before {
    border-top: 30px solid #b36e00;
  }
  .coming-soon .flag::before {
    border-top: 30px solid #7537a6;
  }
  .flag::after {
    border-bottom: 25px solid transparent;
    border-right: 10px solid #fff;
    border-top: 25px solid transparent;
    content: " ";
    height: 0;
    right: 0;
    position: absolute;
    top: 0;
    width: 0;
  }
  #spike_wrapper {
    margin: 0 50px;
  }
  </style>
{% endblock %}

{% block body %}
<main class="light-gray">
  <section class="inner-section live">
    <div class="flag">Live</div>
    <ul>
      <li>
        <div class="item"><a href="/analysis">Time Series Analyzer</a></div>
        <span class="description">Visualize Zendesk tickets over time with a keyword filter.</span>
      </li>
      <li>
        <div class="item"><a href="/spike">Spike Detector</a></div>
        <span class="description">Browse the list of trending words where the volume of matched tickets spiked.</span>
        <div id="spike_wrapper"></div>
      </li>
    </ul>
  </section>
  <section class="inner-section jeeves-stats">
    <div class="flag">Jeeves Info</div>
    <div class="stats"><ul><li><div class="item">Loading...</div></li></ul></div>
  </section>
  <!--
  <section class="inner-section coming-soon">
    <div class="flag">Coming soon</div>
    <ul>
      <li>
        <div class="item">Auto Reply Logs</div>
        <span class="description">Monitor how Jeeves automatically responded to FAQs recently.</span>
      </li>
      <li>
        <div class="item"><a href="/annotation">Category Annotation Tool</a></div>
        <span class="description">Annotate tickets to create training data here.</span>
      </li>
    </ul>
  </section>
  -->
</main>
{% endblock %}

{% block footer %}
{% endblock %}
