{% extends "layout.html" %}

{% block title %}Home | Duolingo Jeeves{% endblock %}

{% block head %}
  {{ super() }}
  <style>
  .description {
    color: #999;
  }
  .item {
    font-weight: 700;
    font-size: 20px;
  }
  li {
    margin-bottom: 20px;
  }
  </style>
{% endblock %}

{% block body %}
<section>
<ul>
<li>
  <div class="item"><a href="/analysis">Analyze Time Series</a></div>
  <span class="description">Visualize tickets over time.</span>
</li>
<li>
  <div class="item"><a href="/training">Train Jeeves</a></div>
  <span class="description">Annotate tickets here.</span>
</li>
</ul>
</section>
{% endblock %}

{% block footer %}
{% endblock %}
