{% extends "layout.html" %} {% block title %}Spike Detector | Duolingo Jeeves{%
endblock %} {% block head %} {{ super() }}
<script src="/static/js/common.js?_={{random}}"></script>
<script src="/static/js/spike.js?_={{random}}"></script>
<script>
  $(document).ready(function() {
    renderSpikes($("#spike_wrapper"), "{{ lang }}");
  });
</script>
{% endblock %} {% block body %}
<main>
  <section>
    <h1>Spike Detector</h1>
  </section>

  <section id="spike_wrapper"></section>
</main>
{% endblock %}
