{% extends "layout.html" %}

{% block title %}Annotation | Duolingo Jeeves{% endblock %}

{% block head %}
  {{ super() }}
  <script src="{{url_for('static', filename='js/ticket.js')}}"></script>
  <style>
  .next_wrapper {
    text-align: center;
  }
  </style>
  <script>
  $(document).ready(function() {
    $('.next').click(function() {
      loadTickets($(this).data('next_page'));
    });
  });
  </script>
{% endblock %}

{% block body %}
<section>
<h1>Train Jeeves</h1>
</section>

<section id="tickets"></section>

<section class="next_wrapper">
  <button class="next btn-primary">Next</button>
</section>
{% endblock %}
