@use "styles/constants" as *;

.features {
  display: flex;
  flex-wrap: wrap;
  gap: $juicy-length;
}

.graph {
  max-height: 500px;
  width: 100%;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.strong {
  font-weight: 700;
}

.table,
.tabs {
  width: 100%;

  @media not all and (min-width: #{$width-ipad}) {
    // This doesn't fit well on mobile.
    display: none;
  }
}

.ticket {
  max-height: 100%;
}

.title {
  margin-bottom: $juicy-length;
}
