@use "styles/constants" as *;

.appendix {
  border: $juicy-border;
  border-radius: 14px;
  display: grid;
  gap: var(--margin);
  padding: 16px;
  width: 100%;
}

.caret {
  height: 9px;
  transition: transform $duration-slide;
  width: 15px;
}

.caret-up {
  composes: caret;
  transform: rotate(-180deg);
}

.features {
  display: flex;
  flex-wrap: wrap;
  gap: $juicy-length;
}

.graph {
  max-height: 500px;
  width: 100%;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.strong {
  font-weight: 700;
}

.table,
.tabs {
  width: 100%;

  @media not all and (min-width: #{$width-ipad}) {
    // This doesn't fit well on mobile.
    display: none;
  }
}

.ticket {
  max-height: 100%;
}

.title {
  margin-bottom: $juicy-length;
}

.toggle {
  --web-ui_button-filter-hover: none;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
  width: 100%;
}
