-r requirements.in

pip-tools==2.0.2  # Fixes `No module named 'pip.req'` error due to pip 10 when pip-compile
pre-commit==1.9.0  # Somehow 0.14 is used without pinning
pylint
pytest
pytest-cov
pytest-mock
pytest-xdist
