--index-url https://pypi.duolingo.com/simple/

attrs==21.4.0
blinker
click
cssselect2==0.4.1
duolingo-base==1.7.4
duolingo-notify
duolingo-nlp
elasticsearch
elasticsearch-dsl
filelock==3.9.0
fonttools==4.27.1
importlib-metadata==4.8.3 # otherwise it wouldn't be compatible with python 3.6
langid
Flask
flask-cors
kiwisolver==1.3.1
matplotlib==3.7.0
markdown==3.3.7
networkx==3.0
numpy
pandas==1.1.5
pillow==8.4.0
protobuf==3.18.1 # otherwise duolingo-notify > duolingo-proto bumps it to 3.20.1 which is too high
pydyf==0.1.2
pyphen==0.11.0
pystache
pytz
scipy==1.10.1
scikit-learn==1.2.1
seaborn
sentence-transformers==1.1.0
sentencepiece==0.1.97
simplejson
tokenizers==0.10.2
torch==1.9.0
tqdm==4.64.1
trankit
transformers==4.5.1
ufal.udpipe
uwsgi==2.0.21
weasyprint
wrapt==1.12.1
zipp==3.6.0
zopfli==0.1.9

#### Following are not yet used in this codebase.
#### Also, `docker-compose build` doesn't pass for them right now.

#scikit-learn
#scipy
