--index-url https://pypi.duolingo.com/simple/

attrs==21.4.0
boto3==1.26.97
blinker
click
cssselect2==0.4.1
duolingo-base==1.11.1
duolingo-notify
duolingo-nlp==4.17.0
filelock==3.9.0
fonttools==4.27.1
langid
Flask[async]
flask-cors
kiwisolver==1.3.1
matplotlib==3.7.0
markdown==3.3.7
networkx==3.0
numpy==1.24.3
opensearch-py==1.1.0
opensearch-dsl==1.0.0
opentelemetry-api==1.13.0
opentelemetry-distro==0.34b0
opentelemetry-exporter-otlp==1.13.0
opentelemetry-exporter-otlp-proto-grpc==1.13.0
opentelemetry-exporter-otlp-proto-http==1.13.0
opentelemetry-exporter-jaeger==1.13.0
opentelemetry-instrumentation-aws-lambda==0.34b0
opentelemetry-instrumentation-dbapi==0.34b0
opentelemetry-instrumentation-logging==0.34b0
opentelemetry-instrumentation-sqlite3==0.34b0
opentelemetry-instrumentation-urllib==0.34b0
opentelemetry-instrumentation-wsgi==0.34b0
opentelemetry-instrumentation-boto3sqs==0.34b0
opentelemetry-instrumentation-botocore==0.34b0
opentelemetry-instrumentation-elasticsearch==0.34b0
opentelemetry-instrumentation-flask==0.34b0
opentelemetry-instrumentation-jinja2==0.34b0
opentelemetry-instrumentation-pymemcache==0.34b0
opentelemetry-instrumentation-redis==0.34b0
opentelemetry-instrumentation-requests==0.34b0
opentelemetry-instrumentation-sklearn==0.34b0
opentelemetry-instrumentation-urllib3==0.34b0
opentelemetry-propagator-jaeger==1.13.0
opentelemetry-sdk==1.13.0
opentelemetry-util-http==0.34b0
pandas==2.0.1
pillow>=10.0.1
protobuf==3.19.5 # otherwise duolingo-notify > duolingo-proto bumps it to 3.20.1 which is too high
pydyf==0.6.0
pyphen==0.11.0
pystache
pytz
pymemcache==4.0.0
pyyaml==6.0.1
scipy==1.10.1
scikit-learn==1.2.1
seaborn
sentence-transformers==2.2.2
sentencepiece==0.1.97
simplejson
tiktoken==0.4.0
tqdm==4.64.1
ufal.udpipe
uwsgi==2.0.21
weasyprint==59.0
wrapt==1.12.1
zipp==3.6.0
zopfli==0.1.9

#### Following are not yet used in this codebase.
#### Also, `docker-compose build` doesn't pass for them right now.

#scikit-learn
#scipy
