--extra-index-url https://pypi.duolingo.com/pypi/

duolingo-base==0.9.66
futures==3.1.1  # 3.2.0 doesn't work yet
langid
Flask
pandas
simplejson
tqdm
uwsgi


#### Following are not yet used in this codebase.
#### Also, `docker-compose build` doesn't pass for them right now.

# scikit-learn
# scipy
