@import "constants";

$gap: $juicy-margin;
$padding-x: 2 * $juicy-length;
$padding-y: $juicy-margin;
$width-left: 240px;
$width-right: 400px;

.content {
  display: grid;
  grid-gap: $juicy-margin;
  justify-items: start;
}

.main {
  align-items: start;
  display: grid;
  grid-gap: $gap;
  grid-template-columns: $width-left calc(100% - #{$width-left} - #{$gap}) $width-right;
  padding: $padding-y $padding-x;
  transition: transform $duration-slide;

  @media (prefers-reduced-motion) {
    transition: none;
  }
}

.main-shifted {
  composes: main;
  transform: translateX(-$width-right - $gap);
}

.sidebar {
  position: sticky;
  top: $height-topbar + $juicy-margin;
}

.sidebar-right {
  composes: sidebar;
  height: calc(100vh - #{$height-topbar} - 2 * #{$padding-y});
}

.wrap {
  margin: 0 auto;
  max-width: $width-app-max;
}
