@import "constants";

$gap: 2 * $juicy-length;

// By making individual elements shiftable rather than the
// entire parent, they can be positioned relative to the
// outer parent rather than to the first elements with a
// transform.
._shiftable {
  transition: transform $duration-slide;

  // Shift the layout left if the right edge between the contents
  // and the viewport edge cannot fit the aside panel.
  @media (max-width: #{$width-app-max + 2 * $width-aside + 2 * $juicy-margin - ($juicy-margin - $gap)}) {
    .wrap-shifted & {
      transform: translateX(calc(-100vw + #{2 * $juicy-margin - $gap}));

      @media (min-width: #{$width-aside}) {
        transform: translateX(-$width-aside - $gap);
      }
    }
  }

  @media (prefers-reduced-motion) {
    transition: none;
  }
}

.aside {
  composes: _shiftable;
  height: calc(100vh - #{$height-topbar} - 2 * #{$juicy-margin});
  left: calc(100vw + #{-$juicy-margin + $gap});
  max-width: calc(100% - #{2 * $juicy-margin});
  position: fixed;
  top: $height-topbar + $juicy-margin;
  width: $width-aside;

  @media (min-width: $width-app-max) {
    left: calc(50vw + #{$width-app-max / 2 - $juicy-margin + $gap});
  }
}

.content {
  composes: _shiftable;
  display: grid;
  grid-gap: $juicy-margin;
  justify-items: start;
}

.wrap {
  margin: $height-topbar auto 0;
  max-width: $width-app-max;
  padding: $juicy-margin;
}

.wrap-shifted {
  composes: wrap;
}
