@import "constants";
@import "mixins";

.close {
  --web-ui_button-filter-hover: none;
  align-items: center;
  background: $juicy-snow;
  border: $juicy-border;
  border-radius: 50%;
  position: absolute;
  height: 30px;
  justify-content: center;
  right: $juicy-border-width / 2;
  top: $juicy-border-width / 2;
  transform: translateX(50%) translateY(-50%);
  transition: background $duration-button-transition;
  width: 30px;

  @include hover {
    background: $juicy-swan;
  }

  img {
    height: 50%;
  }
}
