@import "../../node_modules/web-ui/dist/esm/src/styles/colors";

$duration-button-transition: 0.2s;
$duration-fade: 0.2s;
$duration-slide: 0.4s;
$height-topbar: 82px;
$juicy-border: 2px solid $juicy-swan;
$juicy-border-width: 2px;
$juicy-length: 8px;
$juicy-margin: 3 * $juicy-length;
$juicy-radius: 16px;
$tag-spacing: 5px;
$width-app-max: 1280px;
