@forward "colors";
@use "colors" as *;

$duration-button-transition: 0.2s;
$duration-fade: 0.2s;
$duration-slide: 0.4s;
$juicy-border: 2px solid web-ui-color("swan");
$juicy-border-width: 2px;
$juicy-length: 8px;
$juicy-margin: 24px;
$juicy-radius: 16px;
$tag-spacing: 5px;
$transition-short: 0.3s;
$width-hamburger: 20px;
$width-icon-button: 30px;
$width-ipad: 768px;
$width-laptop: 1280px;
$width-menu: 270px;
