@import "constants";
@import "mixins";

.button {
  --web-ui_button-filter-hover: none;
  align-items: center;
  background: $juicy-snow;
  border: $juicy-border;
  border-radius: 50%;
  height: $width-icon-button;
  justify-content: center;
  transition: background $duration-button-transition;
  width: $width-icon-button;

  @include hover {
    background: $juicy-swan;
  }
}

.icon {
  height: 50%;
}
