@import 'constants';
@import 'mixins';

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  color: $juicy-macaw;
  font-weight: 700;
  text-decoration: none;
}

body {
  font: 500 17px/25px din-round, sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1 {
  color: $juicy-eel;
  font-size: 25px;
  line-height: 34px;
  margin: 0;
}

h2 {
  color: $juicy-eel;
  font-size: 19px;
  line-height: 28px;
  margin: 0;
}
