@use "constants" as *;

:root {
  --height-topbar: 58px;
  --margin: #{2 * $juicy-length};
  // This includes horizontal padding of 2 * var(--margin).
  --width-app: min(1140px, 100vw);
  --width-aside: min(400px, calc(100vw - 2 * var(--margin)));

  @media (min-width: $width-ipad) {
    --height-topbar: 80px;
    --margin: #{$juicy-margin};
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: $juicy-macaw;
  font-weight: 700;
  text-decoration: none;
}

body {
  color: $juicy-eel;
  font: 500 17px/25px din-round, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 25px;
  line-height: 34px;
  margin: 0;
}

h2 {
  font-size: 19px;
  line-height: 28px;
  margin: 0;
}
