._wrap {
  position: relative;
}

.wrap {
  composes: _wrap;
  height: 200px;
  width: 100%;
}

.wrap-table-cell {
  composes: _wrap;
  height: 25px; // Line height
  margin: 0 auto;
  width: 34px;
}
