@use "constants" as *;

.footer {
  background-color: $juicy-polar;
  border-top: $juicy-border;
  flex-grow: 1;
}

.wrap {
  background: $juicy-snow;
  box-shadow: 4px 0 4px rgba(black, 0.04);
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  overflow-y: auto;
  position: fixed;
  top: var(--height-topbar);
  transform: translateX(-100%);
  transition: transform $transition-short;
  z-index: 1;
  width: $width-menu;
}

.wrap-open {
  composes: wrap;
  transform: none;
}
