@use "constants" as *;

.body {
  font-size: 15px;
}

.document {
  width: 25%;
}

.pagination {
  text-align: right;
}

.table {
  table-layout: fixed;
  width: 100%;

  td {
    word-wrap: break-word;
  }
}
