@use "constants" as *;

.button-inner {
  overflow: hidden;
  text-overflow: ellipsis;
}

.form {
  display: grid;
  grid-gap: $juicy-margin * 0.5;
  height: min-content;
  overflow: hidden;
}

.header {
  align-items: center;
  display: flex;
  grid-gap: $juicy-margin * 0.5;
}

.icon {
  height: 24px;
  width: 24px;
}

.link-ellipsis {
  color: $juicy-macaw;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list {
  max-height: 340px;
}

.small {
  font-size: 15px;
  line-height: 25px;
}
