@use "constants" as *;

.summary {
  word-break: keep-all;
}

.table {
  table-layout: fixed;
  width: 100%;

  @media (min-width: $width-ipad) {
    table-layout: auto;

    td:first-child {
      width: 100px;
    }

    td:last-child {
      min-width: 220px;
      width: 20%;
    }
  }
}
