@import "constants";

.tag {
  background: $juicy-ghost;
  border-radius: 12px;
  color: $juicy-eel;
  display: inline-flex;
  font-size: 13px;
  line-height: 1;
  max-width: 150px;
  padding: 5px 9px;
}

.tag-priority {
  composes: tag;
  background: $juicy-cardinal;
  color: $juicy-snow;
}

.value {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
