@import "constants";

.icon {
  height: 12px;
  width: 12px;
}

.icon-link {
  line-height: 0;
  margin-left: $juicy-length;
}

.subject {
  align-items: center;
  display: flex;
}

.table {
  table-layout: fixed;
  width: 100%;

  th {
    width: 90px;
  }
}

.tag {
  margin: $tag-spacing / 2;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin: -($tag-spacing / 2);
}
