@use "constants" as *;

.attachments {
  align-items: start;
  display: flex;
  flex-direction: column;
}

.bordered {
  border: $juicy-border;
  border-radius: $juicy-radius;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.btn-bug {
  position: absolute;
  right: $juicy-border-width * 0.5 + $width-icon-button + 4px;
  top: $juicy-border-width * 0.5;
  transform: translateX(50%) translateY(-50%);

  img {
    height: 18px;
  }
}

.btn-close {
  position: absolute;
  right: $juicy-border-width * 0.5;
  top: $juicy-border-width * 0.5;
  transform: translateX(50%) translateY(-50%);
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.content {
  display: grid;
  grid-gap: $juicy-length;
  overflow-y: auto;
  padding: 2 * $juicy-length;
  word-break: break-word;
}

.icon {
  height: 16px;
  width: 16px;
}

.invisible {
  visibility: hidden;
}

.label {
  font-size: 15px;
  font-weight: 700;
}

.loading-container {
  display: inline-block;
  position: relative;
}

.section {
  min-width: 0;
}

.tag {
  max-width: 100%;

  .tags & {
    margin: $tag-spacing * 0.5;
    max-width: 150px;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin: -($tag-spacing * 0.5);
}

.thumb {
  cursor: pointer;
  display: block;
  max-height: 180px;
  max-width: 100%;
}

.thumbs {
  display: flex;
  flex-wrap: wrap;
  grid-gap: $juicy-length;

  .attachments + & {
    margin-top: $juicy-length;
  }
}
