@import "constants";

.container {
  background: $juicy-snow;
  border-bottom: $juicy-border;
  position: sticky;
  top: 0;
  z-index: 1;
}

.filters {
  display: grid;
  grid-gap: 2 * $juicy-length;
  grid-template-columns: min-content min-content;
  margin-left: auto;
}

.filters-search {
  composes: filters;
  grid-template-columns: 1fr min-content;
  margin-left: 0;
}

.logo {
  height: 29px;
}

.logo-invisible {
  composes: logo;
  visibility: hidden;
}

.logo-link {
  color: $juicy-owl;
  display: none;
  position: relative;

  @media (min-width: 500px) {
    display: flex;
  }
}

.wrap {
  align-items: center;
  display: grid;
  grid-gap: $juicy-margin;
  grid-template-columns: 1fr;
  height: $height-topbar - $juicy-border-width;
  margin: 0 auto;
  max-width: $width-app-max;
  padding: 0 (2 * $juicy-length);

  @media (min-width: 500px) {
    grid-template-columns: 240px 1fr;
  }
}
