@import "constants";

$mq-show-filters: (
  min-width: 768px,
); // iPad

.filters {
  align-items: end;
  display: none;
  grid-gap: 2 * $juicy-length;
  grid-template-columns: min-content min-content;
  margin-left: auto;

  @media #{$mq-show-filters} {
    display: grid;
  }
}

.filters-search {
  composes: filters;
  grid-template-columns: 1fr min-content;
  margin-left: 0;
}

.logo {
  height: 29px;
  width: 203.31px;
}

.logo-invisible {
  composes: logo;
  visibility: hidden;
}

.logo-link {
  color: $juicy-owl;
  display: flex;

  @media #{$mq-show-filters} {
    // Center loading dots within logo container.
    position: relative;
  }
}

.wrap {
  background: $juicy-snow;
  border-bottom: $juicy-border;
  position: fixed;
  align-items: center;
  display: grid;
  grid-gap: $juicy-margin;
  grid-template-columns: repeat(2, min-content);
  height: $height-topbar;
  padding: 0 $juicy-margin;
  top: 0;
  width: 100%;
  z-index: 1;

  @media #{$mq-show-filters} {
    grid-template-columns: repeat(2, min-content) 1fr;
  }
}
