@import "../constants";
@import "../mixins";

.date {
  font-size: 13px;
  line-height: 1;
  white-space: nowrap;
}

.icon {
  height: 16px;
  width: 16px;
}

.item {
  align-items: start;
  border: $juicy-border;
  border-width: $juicy-border-width $juicy-border-width 0;
  cursor: pointer;
  display: grid;
  grid-gap: $juicy-length;
  grid-template-columns: 40% 60%;
  padding: 9.5px 16px;

  &:first-child {
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
  }

  &:last-child {
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    border-bottom-width: $juicy-border-width;
  }

  @include hover {
    background: $juicy-ghost;
  }
}

.item-selected {
  composes: item;

  .title {
    color: $juicy-macaw;
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.pagination {
  text-align: right;
}

.tags {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: -$tag-spacing / 2;
  min-height: 25px; // Matches the line height.

  > * {
    margin: $tag-spacing / 2;
    max-width: 150px;
  }
}

.ticket {
  max-height: 100%;
}

.title {
  transition: color $duration-fade;
}
