@import "../constants";
@import "../mixins";

.date {
  text-align: right;
}

.pagination {
  text-align: right;
}

.table {
  table-layout: fixed;
  width: 100%;

  tbody {
    tr {
      transition: color $duration-fade;

      &.selected {
        color: $juicy-macaw;
      }

      @include hover {
        background: $juicy-ghost;
        cursor: pointer;
      }
    }
  }

  td,
  th {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.ticket {
  max-height: 100%;
}
