body, td, th {font-family: sans-serif;}
table {border-collapse: collapse;}
table, td, th {border: 1px solid black;}
td {padding: 10px;}
section {margin-top: 50px;}
.category_wrapper {margin-right: 30px;}
.next {width: 200px;}
