@font-face {
  font-family: 'museo-sans-rounded';
  src: url('//d7mj4aqfscim2.cloudfront.net/proxy/fonts/museo/museosansrounded-500-webfont.eot');
  src: url('//d7mj4aqfscim2.cloudfront.net/proxy/fonts/museo/museosansrounded-500-webfont.eot?#iefix') format('embedded-opentype'), url('//d7mj4aqfscim2.cloudfront.net/proxy/fonts/museo/museosansrounded-500-webfont.woff2') format('woff2'), url('//d7mj4aqfscim2.cloudfront.net/proxy/fonts/museo/museosansrounded-500-webfont.woff') format('woff'), url('//d7mj4aqfscim2.cloudfront.net/proxy/fonts/museo/museosansrounded-500-webfont.svg#museo_sans_rounded500') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'museo-sans-rounded';
  src: url('//d7mj4aqfscim2.cloudfront.net/proxy/fonts/museo/museosansrounded-700-webfont.eot');
  src: url('//d7mj4aqfscim2.cloudfront.net/proxy/fonts/museo/museosansrounded-700-webfont.eot?#iefix') format('embedded-opentype'), url('//d7mj4aqfscim2.cloudfront.net/proxy/fonts/museo/museosansrounded-700-webfont.woff2') format('woff2'), url('//d7mj4aqfscim2.cloudfront.net/proxy/fonts/museo/museosansrounded-700-webfont.woff') format('woff'), url('//d7mj4aqfscim2.cloudfront.net/proxy/fonts/museo/museosansrounded-700-webfont.svg#museo_sans_rounded700') format('svg');
  font-weight: 700;
  font-style: normal;
}
body, td, th {
  font-family: 'museo-sans-rounded', sans-serif;
}
body {
  color: #555555;
  font-size: 17px;
  line-height: 1.5;
  margin: 0;
  padding-bottom: 90px;
  -webkit-font-smoothing: antialiased;
  background: #e9e9e9;
}
table {
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #dddddd;
}
td {
  padding: 10px;
}
th {
  text-align: left;
  padding-left: 10px;
  background-color: #f5f5f5;
  color: #777777;
}
section {
  margin: 60px;
}
@media only screen and (max-width: 700px) {
  section {
    margin: 60px 0;
  }
}
section.next_wrapper {
  text-align: center;
}
section.small-section {
  margin: 0px 60px -40px 60px;
}
.category_wrapper {
  margin-right: 30px;
}
.next {
  width: 200px;
}
.header {
  box-shadow: 0 3px 5px rgba(0,0,0,0.05);
  background-color: rgba(32,166,231,0.8);
  background-image: linear-gradient(to bottom, #20a8e9, rgba(30,158,220,0.5));
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 200;
}
.header-inner {
  min-height: 70px;
  width: 980px;
  margin-left: auto;
  margin-right: auto;
}
.topbar-brand {
  float: left;
  background: url(//s3.amazonaws.com/nweb.duolingo.com/images/icon-sprite.svg) 0 0;
}
.topbar-brand.smaller-logo {
  background-size: 900px;
  background-position: -144px 0;
  width: 142px;
  height: 36px;
  margin: 20px 0 0 0;
}
.lockup {
  float: left;
  color: #ffffff;
  display: block;
  font-size: 24px;
  font-weight: 300;
  margin: 9px 0 0 20px;
  padding: 8px 0 8px 20px;
  border-left: 1px solid #ffffff;
  vertical-align: middle;
}
ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  color: #1CAFF6;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}
a:hover {
  text-decoration: underline;
}
main {
  max-width: 980px;
  background-color: white;
  border-radius: 10px;
  margin: 100px auto 0 auto;
  padding: 10px 0 60px 0;
  box-shadow: 0 0 25px rgba(0,0,0,0.04);
  -webkit-box-shadow: 0 0 25px rgba(0,0,0,0.04);
  -moz-box-shadow: 0 0 25px rgba(0,0,0,0.04);
}
.btn-primary {
  background: #1cb0f6;
}
button {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  border: 0;
  border-radius: 999px;
  color: white;
  height: 45px;
  min-width: 220px;
  outline: none;
  padding: 0 20px;
  cursor: pointer;
}
label {
  cursor: pointer;
}
h2 {
  margin: 0;
  font-size: 24px;
}
.ticket_table th {
  width: 150px;
}
@media only screen and (max-width: 700px) {
  .ticket_table th {
    width: 100px;
  }
}
.feedback_wrapper {
  float: right;
  padding: 20px 0;
}
.feedback_wrapper a {
  color: white;
  font-size: 18px;
}
