@use "styles/mixins";

.item {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  white-space: nowrap;

  &:not(:last-child) {
    border-bottom: 1px solid rgb(235, 236, 240);
  }

  @include mixins.hover {
    background: rgb(235, 236, 240);
  }
}

.key {
  color: rgb(137, 147, 164);
  font-size: 12px;
  line-height: 17px;
}

.link {
  align-items: center;
  display: flex;
  height: 41px;
  padding: 0 8px;
}

.list {
  border-radius: 3px;
  box-shadow: rgba(9, 30, 66, 0.25) 0 1px 1px, rgba(9, 30, 66, 0.13) 0 0 1px 1px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.status {
  margin-left: 8px;
}

.title {
  color: rgb(9, 30, 66);
  flex: 1;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-left: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wrap {
  // Add some space for the box shadow so that it doesn't overflow.
  padding: 1px;
}
