@use "styles/constants" as *;

.wrap {
  grid-template-columns: 1fr min-content;
  align-items: center;
  display: inline-grid;
  grid-gap: $juicy-margin * 0.5;
}

.label {
  white-space: nowrap;
  padding: 9.5px 0;
}

.toggle {
  vertical-align: top;
}
