.image {
  max-height: 100%;
  max-width: 100%;
  position: relative;
}

.wrap {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  padding: var(--margin);
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.wrap-visible {
  composes: wrap;
  pointer-events: auto;
}
