.container {
  // The plot is resized asynchronously so it might overflow for an instant.
  overflow: hidden;
  position: relative;
}

// Plotly overrides the position of .plot, so we
// need this extra wrapper to allow absolute positioning.
.inner {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.plot {
  height: 100%;
  width: 100%;
}
