@use "styles/constants" as *;

.table {
  border: $juicy-border;
  border-radius: 12px;
  border-spacing: 0;
  // Hides shading overflow from border-radius.
  overflow: hidden;

  td,
  th {
    outline: ($juicy-border-width * 0.5) solid web-ui-color("swan");
    padding: 11.5px 16px;
  }

  tfoot td,
  th {
    background: web-ui-color("polar");
    text-align: initial;
  }

  thead th {
    text-align: center;
  }
}
