@use "styles/constants" as *;
@use "styles/mixins";

$item-gap: 2 * $juicy-length;
$item-height: 70px;
$item-padding-x: 16px;

.date {
  font-size: 13px;
  line-height: 1;
  white-space: nowrap;
}

.empty {
  align-items: center;
  display: flex;
  height: $item-height;
  padding: 0 $item-padding-x;
}

.icon {
  height: 16px;
  width: 16px;
}

// Loosely based on https://www.figma.com/file/76Dp0p4frjWbVZX9LXVORJ/%E2%9C%85-Schools-V2-HiFi---Q1-%40anna-%40jenny?node-id=442%3A14441.
.item {
  --item-background: #{web-ui-color("snow")};
  // The width of an item's inner contents when the list is at its maximum possible width.
  --width-item-inner: calc(
    var(--width-app) - 2 * var(--margin) - 2 * #{$juicy-border-width} - 2 * #{$item-padding-x}
  );
  align-items: center;
  background: var(--item-background);
  cursor: pointer;
  display: grid;
  grid-template-columns: calc(0.8 * (var(--width-item-inner) - #{$item-gap})) 1fr;
  height: $item-height;
  position: relative;
  // Establish a new stacking context.
  z-index: 0;

  &:not(:last-child) {
    border-bottom: $juicy-border-width solid web-ui-color("polar");
  }

  @media (min-width: #{$width-ipad}) {
    grid-template-columns: calc(0.4 * (var(--width-item-inner) - #{$item-gap})) 1fr;
  }

  @include mixins.hover {
    --item-background: #{web-ui-color("polar")};
  }
}

.item-selected {
  composes: item;
  --item-background: #{web-ui-color("polar")};
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.list-bordered {
  composes: list;
  border: $juicy-border;
  border-radius: 12px;
  overflow: hidden;
}

.tag-ipad {
  @media not screen and (min-width: #{$width-ipad}) {
    display: none;
  }
}

.tag-jira {
  composes: tag-ipad;
  display: inline-flex;
}

.tag-platform {
  display: inline-flex;
}

.tags {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  // Two lines.
  height: 50px + $tag-spacing;
  justify-content: flex-end;
  overflow: hidden;
  position: absolute;
  right: $item-padding-x;
  top: 50%;
  transform: translateY(-50%);
  width: calc(0.6 * (var(--width-item-inner) - #{$item-gap}));

  > * {
    margin: $tag-spacing * 0.5;
    max-width: 150px;
  }
}

.title {
  // Two lines.
  max-height: 50px;
  overflow: hidden;
}

.title-container {
  align-items: center;
  background: linear-gradient(
    to right,
    var(--item-background) calc(100% - #{$item-gap}),
    // `transparent` doesn't work on Safari.
    rgba(255, 255, 255, 0)
  );
  display: flex;
  height: 100%;
  padding: 0 $item-gap 0 $item-padding-x;
  z-index: 1;
}
