@use "styles/constants" as *;

$item-height: 70px;
$item-padding-x: 16px;

.empty {
  align-items: center;
  display: flex;
  height: $item-height;
  padding: 0 $item-padding-x;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.list-bordered {
  composes: list;
  border: $juicy-border;
  border-radius: 12px;
  overflow: hidden;
}
